In [1]:
import json
import tweepy
import pandas as pd
import numpy as np
import nltk

### Import dataframe of tweets:

In [2]:
data = pd.read_csv('tweets_from_tweepy_small.csv')

In [3]:
data.head()

,Unnamed: 0,0,Handle,ID,CreatedAt,Location
0,0,Really excited for this event tonight. Always ...,divafeminist,1357386255714115587,2021-02-04 17:51:17,NaN
1,1,@prisonculture YES! Please- we don’t need it. ...,divafeminist,1357069269822033923,2021-02-03 20:51:41,NaN
2,2,@sweetbtchesbrew Such a force. How different i...,divafeminist,1356411441990004738,2021-02-02 01:17:43,NaN
3,3,"Rest In Peace and Power, #KarenLewis. What an ...",divafeminist,1355242388508332036,2021-01-29 19:52:19,NaN
4,4,At the core of US criminal punishment system i...,divafeminist,1355006374313390083,2021-01-29 04:14:29,NaN

In [4]:
data.shape

# 3892 tweets extracted from 198 Twitter Friends

(3892, 6)

In [8]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
# Import dataframe with the Friends Information (including name, handle, location, description, etc)
friends_df = pd.read_csv('twitter_friends_info_df.csv')
friends_df.head()

,Unnamed: 0,Friend,Handle,Location,UserDescription
0,0,Treva B,divafeminist,All Ovah the World,Prof @ OSU/feminist/dancer/friend/daughter/aun...
1,1,Veronika,VeronikaDatzer,Berlin,"International Relations @FU_Berlin, Assistant ..."
2,2,Christina Rupp,christinacrupp,"Bonn, Deutschland",Project Assistant International Cybersecurity ...
3,3,Clara,thatclarafied,"Los Angeles, CA",Writer | Comedian | Tech | Diversity & Inclusi...
4,4,John Miller,JohnMillerTX,"Fort Worth, TX","#Analytics leader dealing in #machinelearning,..."

In [6]:
friends_df.shape

(200, 5)

In [9]:
friends_df.drop('Unnamed: 0', axis=1, inplace=True)

### Merge the two dataframes to have Name, Handle, Tweet, and Location in one dataframe.
Merge on `'Handle'`

In [10]:
left = data
right = friends_df

df = pd.merge(left, right, on='Handle')

In [25]:
df.rename(columns={'Tweet_text':'TweetText', 'Location_x':'Geocode', 'Location_y':'Location'}, inplace=True)

In [26]:
df.head()

,TweetText,Handle,ID,CreatedAt,Geocode,Friend,Location,UserDescription
0,Really excited for this event tonight. Always ...,divafeminist,1357386255714115587,2021-02-04 17:51:17,NaN,Treva B,All Ovah the World,Prof @ OSU/feminist/dancer/friend/daughter/aun...
1,@prisonculture YES! Please- we don’t need it. ...,divafeminist,1357069269822033923,2021-02-03 20:51:41,NaN,Treva B,All Ovah the World,Prof @ OSU/feminist/dancer/friend/daughter/aun...
2,@sweetbtchesbrew Such a force. How different i...,divafeminist,1356411441990004738,2021-02-02 01:17:43,NaN,Treva B,All Ovah the World,Prof @ OSU/feminist/dancer/friend/daughter/aun...
3,"Rest In Peace and Power, #KarenLewis. What an ...",divafeminist,1355242388508332036,2021-01-29 19:52:19,NaN,Treva B,All Ovah the World,Prof @ OSU/feminist/dancer/friend/daughter/aun...
4,At the core of US criminal punishment system i...,divafeminist,1355006374313390083,2021-01-29 04:14:29,NaN,Treva B,All Ovah the World,Prof @ OSU/feminist/dancer/friend/daughter/aun...

In [22]:
df.dtypes

# change CreatedAt column to datetime

Tweet_text          object
Handle              object
ID                   int64
CreatedAt           object
Geocode            float64
Friend              object
Location            object
UserDescription     object
dtype: object

### Cleaning the Location data. 
Make sure all cities/states are coded as country:

In [36]:
df['Geocode'].unique()
# Does this mean there are NO geocodes? If so, drop the column!

array([nan])

In [39]:
df['Location'].unique()

array(['All Ovah the World', 'Berlin', 'Bonn, Deutschland',
       'Los Angeles, CA', 'Fort Worth, TX', nan, 'London', 'Transdanubia',
       'London, UK', 'D.C.', 'mostly at home 😷', 'Berlin, Germany',
       '@billyeichner on instagram ', 'Berlin, Deutschland',
       'New York, USA', 'Montreal, QC', 'New York', 'kcmo // los angeles',
       'Hannover, Deutschland', 'Durham, NC', 'Heidelberg',
       'Working from home!', 'Phoenix, Arizona', 'Cambridge, MA',
       'London, England', 'Namibia', 'Maseru, Lesotho ',
       'Hamburg, Germany', 'South Africa', 'DC | Berlin | Bogota',
       'Oxford, England', 'San Francisco, CA', 'Lexington/Phoenix ',
       'Johannesburg, South Africa', 'international waters', 'UK',
       'Wiesbaden.Berlin.Roma.Padova. ', 'Metro Detroit',
       'P.O.Box 457 Berkeley, CA 94701', 'Seattle, WA', "Schitt's Creek",
       'San Francisco lifer', 'Texas, USA', 'DC / The Berkshires',
       'California, London, & Kent ', 'Austin, TX', 'Chicago, IL',
       'Berlin ', 'Berlin | Hannover',
       'Minneapolis, MN and Washington, DC', 'Boston, MA', 'Chicago',
       'Bonn, Germany', 'Australian Capital Territory',
       'Brussels, Belgium', 'The United States of America', 'Canberra',
       'Washington, DC', 'London, England, Europe', 'Europe', 'Brussels',
       'Harrisonburg, VA', 'Bruxelles, Belgique', 'Sheffield, England',
       'in the clouds & on the ground', 'New York City, NY',
       'New York, NY', 'Bern, Schweiz', 'Frankfurt am Main, Deutschland',
       'Oakland, CA', 'Detroit, MI', 'Philadelphia, PA', 'Beijing',
       'Potsdam, Deutschland', 'berlin', 'Geneva, Switzerland',
       'San Francisco', 'Dublin, Ireland - See blog at',
       'Taunus/ Allgäu/ München', 'Berlin 🇩🇪 ', 'Somerville, MA',
       'Dublin City, Ireland', 'Miami', 'Brooklyn, NY',
       'Den Haag, Nederland', 'Toronto/Nairobi/Windhoek',
       'East Lansing, MI', 'London(ish)', 'Berkeley, CA',
       'Dublin/Brussels/Athens', 'Germany'], dtype=object)

### Extracting the Location (Country):
Use the Geopy package used in other notebook (but instead of geocode, extract country). 
Add the country name to an empty column next to the unique values and then merge them later.

In [56]:
!pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 2.9 MB/s eta 0:00:01
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2.10)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [69]:
import geocoder

GOOGLE_GEOCODE_API_KEY = "AIzaSyB9nZ2a0dgpuxjAkiirC-B77-wp5QVDp18"

result = geocoder.google("Chicago, IL", key=GOOGLE_GEOCODE_API_KEY)
print(result.country)

# WHY wont this work??

None

In [73]:
test = geocoder.google("Chicago, IL", key=GOOGLE_GEOCODE_API_KEY)
test

<[REQUEST_DENIED] Google - Geocode [empty]>

In [74]:
locator = Nominatim(user_agent="myGeocode")

berlin_geocode = locator.geocode('Berlin, Germany')
print("Latitude = {}, Longitude = {}".format(berlin_geocode.latitude, berlin_geocode.longitude))

dc_geocode = locator.geocode('Washington D.C., United States')
print("Latitude = {}, Longitude = {}".format(dc_geocode.latitude, dc_geocode.longitude))

chicago_geocode = locator.geocode('Chicago, Illinois, United States')
print("Latitude = {}, Longitude = {}".format(chicago_geocode.latitude, chicago_geocode.longitude))

seattle_geocode = locator.geocode('Seattle, Washington, United States')
print("Latitude = {}, Longitude = {}".format(seattle_geocode.latitude, seattle_geocode.longitude))

Latitude = 52.5170365, Longitude = 13.3888599
Latitude = 38.8950368, Longitude = -77.0365427
Latitude = 41.8755616, Longitude = -87.6244212
Latitude = 47.6038321, Longitude = -122.3300624

In [78]:
berlin_country = locator.geocode('Berlin, Germany')
print(berlin_country.latitude)

52.5170365

In [79]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
def city_state_country(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    city = address.get('city', '')
    state = address.get('state', '')
    country = address.get('country', '')
    return city, state, country
print(city_state_country("47.470706, -99.704723"))

('', 'North Dakota', 'United States')

SO do I first need to get all the COORDINATES of the unique values in my dataframe and then somehow reverse engineer everything to get the country name?

In [81]:
# https://www.w3resource.com/python-exercises/geopy/python-geopy-nominatim_api-exercise-6.php

In [82]:
# https://console.cloud.google.com/apis/credentials/consent?project=ironhack-final-project-304319&supportedpurview=project